/*
   Sakai Config Viewer ConfigViewer.css - created by duhrer@gmail.com

   Copyright (c) 2007 Virginia Polytechnic Institute and State University
   Licensed under the Educational Community License version 1.0
   
   A copy of the Educational Community License has been included in this 
   distribution and is available at: http://www.opensource.org/licenses/ecl1.php
   
   Contributors:
   Anthony Atkins (duhrer@gmail.com) 
*/

/* if you want an icon for the config viewer, copy and paste this into your skin */
.icon-sakai-configviewer {
        background-image: url(../../image/silk/cog.png);
}

.configEntryName {
    width: 20%;
    text-align: left; 
}
.configEntryValue {
    width: 20%;
	font-size:.85em;
	text-align: left;
}
.configEntryHelp{
    width: 45%;
	text-align: left;
	font-size:.85em;
}
.configEntryTool{
    width: 15%;
    text-align: left;
	font-size:.85em;
}
.configEntryOddRow{
	background-color:#e1e1ff;
}

.propertyDetailHeader {
	width:25%;
	font-weight:bold;
	border-left:1px solid #cccccc;
}

.propertyDetailValue {
	width:75%;
	border-right:1px solid #cccccc;
}

.tooltip {
	background-color:#cccccc;
	border: 1px solid #999999;
	padding: 1em;	
	position:absolute;
	width: 350px;
	z-index: 999;
}
