<#--
/**********************************************************************************
 * $URL: https://source.sakaiproject.org/contrib/etudes/sakai-jforum/tags/2.9.11/jforum-tool/src/webapp/templates/default/post_form.htm $
 * $Id: post_form.htm 83559 2013-04-30 19:03:29Z murthy@etudes.org $ 
 *********************************************************************************** 
 * 
 * Copyright (c) 2008, 2009, 2010, 2011, 2012, 2013 Etudes, Inc. 
 * 
 * Licensed under the Apache License, Version 2.0 (the "License"); 
 * you may not use this file except in compliance with the License. 
 * You may obtain a copy of the License at 
 * 
 * http://www.apache.org/licenses/LICENSE-2.0 
 * 
 * Unless required by applicable law or agreed to in writing, software 
 * distributed under the License is distributed on an "AS IS" BASIS, 
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. 
 * See the License for the specific language governing permissions and 
 * limitations under the License. 
 * 
 * Portions completed before July 1, 2004 Copyright (c) 2003, 2004 Rafael Steil, All rights reserved, licensed under the BSD license. 
 * http://www.opensource.org/licenses/bsd-license.php 
 * 
 * Redistribution and use in source and binary forms, 
 * with or without modification, are permitted provided 
 * that the following conditions are met: 
 * 
 * 1) Redistributions of source code must retain the above 
 * copyright notice, this list of conditions and the 
 * following disclaimer. 
 * 2) Redistributions in binary form must reproduce the 
 * above copyright notice, this list of conditions and 
 * the following disclaimer in the documentation and/or 
 * other materials provided with the distribution. 
 * 3) Neither the name of "Rafael Steil" nor 
 * the names of its contributors may be used to endorse 
 * or promote products derived from this software without 
 * specific prior written permission. 
 * 
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT 
 * HOLDERS AND CONTRIBUTORS "AS IS" AND ANY 
 * EXPRESS OR IMPLIED WARRANTIES, INCLUDING, 
 * BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF 
 * MERCHANTABILITY AND FITNESS FOR A PARTICULAR 
 * PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL 
 * THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE 
 * FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, 
 * EXEMPLARY, OR CONSEQUENTIAL DAMAGES 
 * (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF 
 * SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, 
 * OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER 
 * CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER 
 * IN CONTRACT, STRICT LIABILITY, OR TORT 
 * (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN 
 * ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF 
 * ADVISED OF THE POSSIBILITY OF SUCH DAMAGE 
 ***********************************************************************************/
 -->
<#include "header.htm"/>
<#if !preview?exists>
	<#assign preview = false/>
</#if>

<script type="text/javascript">
var CONTEXTPATH = "${contextPath}";
var SERVLET_EXTENSION  = "${extension}";
</script>

<script type="text/javascript"><#include "js/bbcode_help.js"/></script>
<script type="text/javascript" src="${contextPath}/templates/${templateName}/js/post.js"></script>
<script type="text/javascript" src="${contextPath}/templates/${templateName}/js/jquery.js"></script>
<script language="javascript">

<#include "js/calendar2.js"/>


function compareDates()
{
	if ((document.post.start_date == undefined) || (document.post.end_date == undefined) || (document.post.allow_until_date == undefined))
	{
		return true;
	}
	
	var blnStartDate = true, blnEndDate = true, blnAllowUntilDate = true;
	
	if (document.post.start_date.value.replace(/^\s*|\s*$/g, "").length == 0) 
 	{
		blnStartDate = false;
   		//return true;
 	}
	
 	if (document.post.end_date.value.replace(/^\s*|\s*$/g, "").length == 0) 
 	{
 		blnEndDate = false;
   		//return true;
 	}
 	
 	if (document.post.allow_until_date.value.replace(/^\s*|\s*$/g, "").length == 0) 
 	{
   		//return true;
 		blnAllowUntilDate = false;
 	}
 	
 	if (blnStartDate && blnEndDate && blnAllowUntilDate)
 	{
	 	if ((Date.parse(document.post.start_date.value) > Date.parse(document.post.end_date.value)) || (Date.parse(document.post.start_date.value) > Date.parse(document.post.allow_until_date.value))
	 				|| (Date.parse(document.post.end_date.value) > Date.parse(document.post.allow_until_date.value))) 
	 	{
	   		alert("${I18n.getMessage("PostForm.DateError")}");
	   		return false;
	 	}
 	}
 	else if (blnStartDate && blnEndDate && !blnAllowUntilDate)
	{
 		if ((Date.parse(document.post.start_date.value) > Date.parse(document.post.end_date.value))) 
	 	{
	   		alert("${I18n.getMessage("PostForm.DateError")}");
	   		return false;
	 	}
	}
 	else if (!blnStartDate && blnEndDate && blnAllowUntilDate)
	{
 		if (Date.parse(document.post.end_date.value) > Date.parse(document.post.allow_until_date.value)) 
	 	{
	   		alert("${I18n.getMessage("PostForm.DateError")}");
	   		return false;
	 	}
	}
 	else if (blnStartDate && !blnEndDate && blnAllowUntilDate)
 	{
	 	if (Date.parse(document.post.start_date.value) > Date.parse(document.post.allow_until_date.value)) 
	 	{
	   		alert("${I18n.getMessage("PostForm.DateError")}");
	   		return false;
	 	}
 	}

 	return true;
}
</script>
<script type="text/javascript">
function validatePostForm(f)
{
	<#if setType?default(true)>
	//Murthy : 10/19/05 Replaced the if condition to check for blank spaces
	//if (f.subject.value == "") {
	if (f.subject.value.replace(/^\s*|\s*$/g, "").length == 0) 
	{
		alert("${I18n.getMessage("PostForm.subjectEmpty")}");
		f.subject.focus();
		
		return false;
	}
	else
	{
		/*
		var maxLength = 100;
		var patt1 = /^${I18n.getMessage("Message.replyPrefix")}/i;
		if (f.subject.value.search(patt1) == -1)
		{
			var reStr = "${I18n.getMessage("Message.replyPrefix")}";
			maxLength = maxLength - reStr.length;
		}
		else
		{
			maxLength = 100;
		}

	  	if (f.subject.value.length > maxLength) 
	  	{
	    	alert("${I18n.getMessage("PostForm.subjectLong")}");
			f.subject.focus();
			return false;
	  	}
	  	*/
	}
	<#else>
		/*
		var maxLength = 100;
		if (f.subject.value.replace(/^\s*|\s*$/g, "").length != 0) 
		{
			var patt1 = /^${I18n.getMessage("Message.replyPrefix")}/i;
			if (f.subject.value.search(patt1) == -1)
			{
				var reStr = "${I18n.getMessage("Message.replyPrefix")}";
				maxLength = maxLength - reStr.length;
			}
			else
			{
				maxLength = 100;
			}
		}
		
		if (f.subject.value.length > maxLength) 
	  	{
	    	alert("${I18n.getMessage("PostForm.subjectLong")}");
			f.subject.focus();
			return false;
	  	}
		*/
	</#if>
	

	<#if !forum?exists>
	if (f.toUsername.value == "") 
	{
		
		<#if (facilitator?? && facilitator)>
			alert("${I18n.getMessage("PrivateMessage.toUsersIsEmpy")}");
		<#else>
			alert("${I18n.getMessage("PrivateMessage.toUserIsEmpy")}");
		</#if>
		f.toUsername.focus();

		return false;
	}
	else if (f.toUsername.value == -1) 
	{
		<#if (facilitator?? && facilitator)>
			alert("${I18n.getMessage("PrivateMessage.toUsersIsEmpy")}");
		<#else>
			alert("${I18n.getMessage("PrivateMessage.toUserIsEmpy")}");
		</#if>
		f.toUsername.focus();

	return false;

	}
	
	<#--if maxPMToUsers?exists>
	//Murthy - 12/03/2006 - check max users allowed to copy in Private Messages
		var selcount = 0;
		for (var i=0; i<f.toUsername.length; i++) 
		{
			if(f.toUsername.options[i].selected)
				selcount = selcount + 1;
			if (selcount > ${maxPMToUsers})
			{
				alert("${I18n.getMessage("PrivateMessage.maxPMUsers")} ${maxPMToUsers}");
				f.toUsername.focus();
				return false;
			}
		}
	</#if-->
	</#if>
	
	if (!checkPointsFormat())
		return false;
	<#if attachmentsEnabled>
	if (!validateAttachDescription())
		return false;
	</#if>

	<#if setDates?? && setDates>
	if (!compareDates())
		return false;
	</#if>
	
	return true;
}

/*
	validate points
*/
function checkPointsFormat() 
{
	var gradingtopic = document.getElementsByName("grade_topic");
	
	if (document.post.grade_topic == undefined)
		return true;
		
	if(!gradingtopic[0].checked)
		return true;
	
	var points = document.post.point_value;
	if (points.value.replace(/^\s*|\s*$/g, "").length == 0)
	{
		alert("${I18n.getMessage("Forums.Form.BlankPointsError")}");
		points.focus();
		return false;
	} else {
		if (points.value < 0) {
			alert("${I18n.getMessage("Grade.Points.NegativeNumber")}");
			points.focus();
			return false;
		}	
	}

	var minPostsRequired = document.getElementById("min_posts_required");
	
	if (document.post.min_posts_required == undefined)
		return true;
	
	if(!minPostsRequired.checked)
		return true;
	
	var minPosts = document.post.min_posts;
	if (minPosts.value.replace(/^\s*|\s*$/g, "").length == 0)
	{
		alert("${I18n.getMessage("Grade.minPosts.BlankPostsNumberError")}");
		minPosts.focus();
		return false;
	} 
	else 
	{
		if (minPosts.value < 0) 
		{
			alert("${I18n.getMessage("Grade.Posts.NegativeNumber")}");
			minPosts.focus();
			return false;
		}	
	}
	
	return true;
}

function toggleGradeOptions(show)
{
	var points = document.getElementById('point_value');
	points.value = "";
	points.disabled = show;
	
	var minPostsSelect = document.getElementById('min_posts_required');
	minPostsSelect.checked = false;
	minPostsSelect.disabled = show;
	
	var minPosts = document.getElementById('min_posts');
	minPosts.value = "";
	minPosts.disabled = show;

	if (!show)
	{
		minPosts.value = "";
	}

	var sendtogradebook = document.getElementById('send_to_grade_book');

	if (sendtogradebook)
	{
		sendtogradebook.disabled = show;
	}
}
</script>

<#assign preview = preview?exists && preview/>
<#assign isNewPost = isNewPost?exists && isNewPost/>
<#assign attachmentsEnabled = attachmentsEnabled?exists && attachmentsEnabled/>

<#if !maxAttachments?exists>
	<#assign maxAttachments = 0/>
</#if>
<!--rashmi changing htmlchecked variable to blank -->
<#--assign htmlChecked = ""/-->
<#assign bbChecked = ""/>
<#assign signatureChecked = "checked"/>
<!--Mallika commenting line below and changing it to unchecked-->
<!--<#assign repliesChecked = "checked"/>-->
<#assign repliesChecked = "unchecked"/>
<#assign smiliesChecked = ""/>

<#--if isNewPost && !preview && !post?exists-->
<#if isNewPost && !preview>
	<#--if user.isHtmlEnabled()><#assign htmlChecked = ""/></#if-->
	<!--rashmi turning jforum smilies off so changed the variable from checked to blank -->
	<#if !user.getAttachSignatureEnabled()><#assign signatureChecked = ""/></#if>
<#elseif post?exists>
	<#--if post.isHtmlEnabled()><#assign htmlChecked = ""/></#if-->
	<!--rashmi turning jforum smilies off so changed the variable from checked to blank -->
	<#if !post.isSignatureEnabled()><#assign signatureChecked = ""/></#if>
</#if>

<#if !user.isNotifyOnMessagesEnabled()><#assign repliesChecked = ""/></#if>

<form action="${JForumContext.encodeURL("/jforum")}" method="post" enctype="multipart/form-data" name="post" id="post" onSubmit="return validatePostForm(this)">
<input type="hidden" name="action" value="${action}" />
<input type="hidden" name="module" value="${moduleName}" />
<input type="hidden" name="securityHash" value="${securityHash}" />
<#if forum?exists><input type="hidden" name="forum_id" value="${forum.id}" /></#if>
<input type="hidden" name="start" value="${start?default("")}" />
<#if post?exists && !isNewPost><input type="hidden" name="post_id" value="${post.id}" /></#if>
<#if (topic?exists && topic.id > -1)><input type="hidden" name="topic_id" value="${topic.id}" /></#if>
<table cellspacing="0" cellpadding="10" width="100%" align="center" border="0">
	<tr> 
		<td>
			
			<!-- Preview message -->
			<a name="preview"></a>
			<table class="forumline" width="100%" cellspacing="1" cellpadding="4" border="0"  <#if !preview>style="display: none"</#if> id="previewTable">
				<tr>
					<th height="25" class="thHead">${I18n.getMessage("PostForm.preview")}</th>
				</tr>
				<tr>
					<td class="row1">
						<img src="${contextPath}/templates/${templateName}/images/icon_minipost.gif" alt=""/>
						<span class="gen" id="previewSubject"> ${I18n.getMessage("PostForm.subject")}: <#if postPreview?exists>${postPreview.subject}</#if></span>
					</td>
				</tr>
				<tr>
					<td class="row1" height="100%">
						<table width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
							<tr>
								<td><span id="previewMessage" class="postbody"><#if postPreview?exists>${postPreview.text}</#if></span></td>
							</tr>

							<#if (user?exists && user.attachSignatureEnabled && user.signature?exists && user.signature?length > 0 && post?exists && post.isSignatureEnabled())>
								<tr>
									<td>
										<hr />
										<span class="gensmall" id="previewSignature">
											<#if previewUser?exists>
												${previewUser.signature}
											<#else>
												${user.signature}
											</#if>
										</span>
									</td>
								</tr>
							</#if>
						</table>
					</td>
				</tr>
				<tr>
					<td class="spaceRow" height="1"><img src="${contextPath}/templates/${templateName}/images/spacer.gif" width="1" height="1" alt=""/></td>
				</tr>
			</table>
			<br clear="all" />

			<table cellspacing="2" cellpadding="2" width="100%" align="center" border="0">
				<tr>
					<td align="left">
						<span class="gen">
							<#if forum?exists>
							<a class="gen" href="${JForumContext.encodeURL("/forums/list")}">${I18n.getMessage("ForumListing.forumIndex")}</a>
							</#if>
							<#if category?exists>
							-&gt; <a class="gen" href="${JForumContext.encodeURL("/forums/list")}#${category.id}">${category.title}</a>
							</#if>
							<#if forum?exists>
							-&gt; <a class="gen" href="${JForumContext.encodeURL("/forums/show/${forum.id}")}">${forum.name}</a>
							</#if>
						</span>
					</td>
				</tr>
			</table>
		
			<table class="forumline" cellspacing="1" cellpadding="3" width="100%" border="0">
				<tr>
					<th class="thHead" colspan="2" height="25">
						<b>
						<#if forum?exists>
							<#if (topic?exists && topic.id > -1)>
								<#if editPost?default(false)>
									${I18n.getMessage("PostForm.editing")} "${topic.title}"
								<#else>
									${I18n.getMessage("PostForm.reply")} "${topic.title}"
								</#if>
							<#else>
								${I18n.getMessage("PostForm.title")}
							</#if>
						<#else>
							<#if pmReply?default(false)>
								${I18n.getMessage("PrivateMessage.reply")}
							<#else>
								${I18n.getMessage("PrivateMessage.title")}
							</#if>
						</#if>
						</b>
					</th>
				</tr>

				<#if !forum?exists>
					<tr>
						<td class="row1" width="22%"><span class="gen"><b>${I18n.getMessage("PrivateMessage.user")}</b></span></td>
						<td class="row2" width="78%">
							<#if pmRecipient?exists>
								<select name="toUsername" size="1">
									<option value="${toUserId}">${pmRecipient.lastName?default("")}, ${pmRecipient.firstName?default("")}</option>
								</select>
									
								<#assign toUsername = toUsername/>
								<#assign toUserId = toUserId/>
								<#assign toUserEmail = toUserEmail/>
							<#elseif preview>
								<#if toUsers?exists>
									<#if (facilitator?? && facilitator)>
									<select name="toUsername" size="5" multiple="multiple">
									<#else>
									<#assign toSingleUser = true/>
									<select name="toUsername" size="1">
									</#if>
										<#--option value="${pm.fromUser.id}">${pm.fromUser.lastName?default("")}, ${pm.fromUser.firstName?default("")}</option-->
										<#if toSingleUser?? && toSingleUser>
										<option value="-1">${I18n.getMessage("PrivateMessage.select")}</option>
										<#assign toSingleUser = false/>
										</#if>
										<#list users as user>
											<#assign found = false/>
											<#list toUsers as toUser>
												<#if (user.id == toUser.id)>
													<#assign found = true/>
													<#break>
												</#if>
											</#list>
											<#if found>
												<option value="${user.id}" selected>${user.lastName?default("")}, ${user.firstName?default("")}</option>
											<#else>
												<option value="${user.id}">${user.lastName?default("")}, ${user.firstName?default("")}</option>
											</#if>
										</#list>
									</select>
									<#assign toUsername = ""/>
									<#assign toUserId = ""/>
									<#assign toUserEmail = ""/>
								<#else>
									<#-- for PM quote reply -->
									<select name="toUsername" size="1">
										<option value="${pm.fromUser.id}">${pm.fromUser.lastName?default("")}, ${pm.fromUser.firstName?default("")}</option>
									</select>
									<#assign toUsername = pm.fromUser.firstName?default("") +" "+ pm.fromUser.lastName?default("")/>
									<#assign toUserId = pm.fromUser.id/>
									<#assign toUserEmail = pm.fromUser.email?default("")/>
									<input type="hidden" name="exisPmId" value="${pm.id}"/>
								</#if>
								
							<#elseif quote?default("") == "true" || pmReply?default(false)>
								<select name="toUsername" size="1">
									<option value="${pm.fromUser.id}">${pm.fromUser.lastName?default("")}, ${pm.fromUser.firstName?default("")}</option>
								</select>
								<#assign toUsername = pm.fromUser.firstName?default("") +" "+ pm.fromUser.lastName?default("")/>
								<#assign toUserId = pm.fromUser.id/>
								<#assign toUserEmail = pm.fromUser.email?default("")/>
								<input type="hidden" name="exisPmId" value="${pm.id}"/>
							<#else>
								<#if (facilitator?? && facilitator)>
								<select name="toUsername" size="5" multiple="multiple">
								<#else>
									<#assign toSingleUser = true/>
								<select name="toUsername" size="1">
								</#if>
									<#if toSingleUser?? && toSingleUser>
										<option value="-1" selected="selected">${I18n.getMessage("PrivateMessage.select")}</option>
										<#assign toSingleUser = false/>
									</#if>								
									<#list users as user>
										<option value="${user.id}">${user.lastName?default("")}, ${user.firstName?default("")}</option>										
									</#list>
								</select>
									
								<#assign toUsername = ""/>
								<#assign toUserId = ""/>
								<#assign toUserEmail = ""/>
							</#if>

							<#--11/13/06 commented by Murthy - input class="post" size="25" name="toUsername" value="${toUsername}"/-->&nbsp;
							<!--10/6/05 - Mallika - commenting line below and changing it to search by name -->
							<!--<input type="button" value="${I18n.getMessage("PrivateMessage.findUser")}" name="findUser" class="liteoption" onClick="window.open('${JForumContext.encodeURL("/pm/findUser")}','_findUser', 'height=250,resizable=yes,width=400');return false;">-->
							<#--11/13/06 commented by Murthy - input type="button" value="${I18n.getMessage("PrivateMessage.findUser")}" name="findUser" class="liteoption" onClick="window.open('${JForumContext.encodeURL("/pm/findUser")}','_findUser', 'height=250,resizable=yes,width=400');return false;"-->
							<input type="hidden" name="toUserId" value="${toUserId}" />
							<input type="hidden" name="toUserEmail" value="${toUserEmail}"/>
						</td>
					</tr>
				</#if>

				<#if errorMessage?exists>
					<tr>
						<td colspan="2" align="center"><span class="redclass">${errorMessage}</span></td>
					</tr>
				</#if>

				<tr>
					<td class="row1" width="22%"><span class="gen"><b>${I18n.getMessage("PostForm.subject")}</b></span></td>
					<#if post?exists>
						<#assign subject = post.subject?default("")?html/>
						<#elseif pmReply?default(false)>
						<#assign subject = pm.post.subject?html/>
						<#elseif topic?exists>
						<#assign subject = I18n.getMessage("Message.replyPrefix") + topic.title?default("")?html/>
					</#if>
					<td class="row2" width="78%">
						<span class="gen">
							<input class="post" style="WIDTH: 460px" maxlength="100" size="45" id="subject" name="subject" value="${subject?default("")}" /> 
						</span>
					</td>
				</tr>

				<tr>
					<td class="row1" valign="top">
						<table cellspacing="0" cellpadding="1" width="100%" border="0">
							<tr>
								<td><span class="gen"><b>${I18n.getMessage("PostForm.body")}</b></span> </td>
							</tr>
							
							<tr>
								<td valign="center" align="middle">
									<br />
									<!-- Rashmi 03/13/06 removed table with emoticons-->
			
								</td>
							</tr>
						</table>
					</td>

					<td class="row2" valign="top">
						<span class="gen">
							<table cellspacing="0" cellpadding="2" width="470" border="0">
				<!--Rashmi 3/7/06 include FCKEditor -->	
				<!-- rashmi removed tr tag with font sizes color and img etc -->		
<script type="text/javascript" language="JavaScript">
											
function myCkEditor(textarea_id)
{
	function config()
	{		
	}
	
	<#if !forum?exists>
	config.prototype.width=680;
	config.prototype.height=300;
	<#else>
	config.prototype.width=680;
	config.prototype.height=460;
	</#if>
	
	config.prototype.toolbarSet = 'JForum';
	config.prototype.disableBrowseServer = true;
	
	<#if !forum?exists>
	sakai.editor.launch(textarea_id, new config(), 680, 300);
	<#else>
	sakai.editor.launch(textarea_id, new config(), 680, 460);
	</#if>

	CKEDITOR.instances[textarea_id].on('instanceReady',function (e) 
	{
		CKEDITOR.instances[textarea_id].config.filebrowserBrowseUrl = null;
		CKEDITOR.instances[textarea_id].config.filebrowserImageBrowseUrl = null;
		CKEDITOR.instances[textarea_id].config.filebrowserFlashBrowseUrl = null;
		CKEDITOR.instances[textarea_id].config.filebrowserLinkBrowseUrl = null;
		
        if(window.frameElement) 
        {
            setMainFrameHeight(window.frameElement.id);
        }
    });
}

function editorContent()
{
	var new_text = CKEDITOR.instances.message.getData();
	
	document.post.fckcontent.value = new_text;
}
			</script>
			<input type="hidden" id="fckcontent" name="fckcontent" value=""/>
								<tr>
									<td colspan="9" valign="top">
										<span class="gen">
											<textarea class="post" onkeyup="storeCaret(this);" onclick="storeCaret(this);" onselect="storeCaret(this);" name="message" id="message" rows="30" wrap="virtual" cols="65">
															<#--07/10/2006 - Murthy - commented to show user First and last name instead of username/id
																<#if post?exists><#if quote?exists>[quote=${quoteUser}]${post.text}[/quote]
															-Murthy-->
															<#if post?exists><#if quote?exists>[quote=${quoteUser.firstName?default("") +" "+quoteUser.lastName?default("")}]${post.text?default("")}[/quote]
																	<#else>${post.text!("")}
																</#if></#if></textarea>
											<script type="text/javascript">
												<#--/*launch of ckeditor*/-->
												myCkEditor('message');
											</script>
										</span>
									</td>
								</tr>
			<!-- rashmi change end -->					
							</table>
						</span>
					</td>
				</tr>
				
				<tr>
					<td class="row1" valign="center" align='center'><span class="gen"><b>${I18n.getMessage("PostForm.options")}</b></span></td>
					<td class="row2">
						<table cellspacing="0" cellpadding="1" border="0">
							<#--if htmlAllowed>
								<tr>
								<td><input type="checkbox" name="disable_html" id="disable_html" ${htmlChecked} title="disable HTML"/></td>
								<td><label for="disable_html"><span class="gen">${I18n.getMessage("PostForm.disableHtml")}</span></label></td>
								</tr>
							<#else>
								<input type="hidden" name="disable_html" value="1" />
							</#if-->
							

							<#if user.id != 1>
								<tr>
									<td><input type="checkbox" name="attach_sig" id="attach_sig" ${signatureChecked} title="append signature"/> </td>
									<td><label for="attach_sig"><span class="gen">${I18n.getMessage("PostForm.appendSignature")}</span></label></td>
								</tr>

								<#if forum?exists>
								<tr>
									<td><input type="checkbox" name="notify" id="notify" ${repliesChecked} title="notify reply"/> </td>
									<td><label for="notify"><span class="gen">${I18n.getMessage("PostForm.notifyReplies")}</span></label></td>
								</tr>
								</#if>
							</#if>
							
							<#if (pmPost?exists && pmPost)>
								<tr>
									<td><input type="checkbox" name="high_priority_pm" id="high_priority_pm" value="1" title="high priority private message"/> </td>
									<td><label for="high_priority_pm"><span class="gen">${I18n.getMessage("PostForm.highPriorityPm")}</span></label></td>
								</tr>
							
							</#if>

							<#if setType?default(true) && forum?exists && (canCreateStickyOrAnnouncementTopics?default(false) || canCreateTaskTopics?default(false))>
							<tr>
								<td>&nbsp;</td>
								<td>
									<span class="gen">${I18n.getMessage("PostForm.setTopicAs")}:
									
									<input type="radio" checked value="0" name="topic_type" <#if topic?exists && topic.type == 0>checked</#if>>${I18n.getMessage("PostForm.setTopicAsNormal")}&nbsp;&nbsp;
									
									<#if canCreateStickyOrAnnouncementTopics?default(false)>
										
										<input type="radio" value="2" name="topic_type" <#if topic?exists && topic.type == 2>checked</#if>>${I18n.getMessage("PostForm.setTopicAsSticky")}&nbsp;&nbsp;
										
										
										<input type="radio" value="3" name="topic_type" <#if topic?exists && topic.type == 3>checked</#if>>${I18n.getMessage("PostForm.setTopicAsAnnounce")}&nbsp;&nbsp;
										
									</#if>
									<#--07/10/2006 - Murthy - for task topic-->
									<#if canCreateTaskTopics?default(false)>
										
										<input type="checkbox" name="topic_export" <#if topic?exists && topic.isExportTopic()>checked</#if>>${I18n.getMessage("PostForm.topicReuse")}&nbsp;&nbsp;
										
									</#if>
																
									</span>
								</td>
							</tr>
							<#elseif topic?exists>
								<input type="hidden" name="topic_type" value="${topic.type}" />
							</#if>
						</table>
					</td>
				</tr>
				
				<#if setDates??>
					<#if setDates>
					<tr>
						<td class="row1" align='center'><span class="gen"><b>${I18n.getMessage("PostForm.StartDate")}</b></span></td>
						<td class="row2">
							<input type="text" style="WIDTH: 200px" maxlength="150" size="25" name="start_date" id="start_date" value="<#if topic?exists><#if topic.accessDates?? && topic.accessDates.openDate??>${DateUtil.getStringFromDate(topic.accessDates.openDate)}</#if></#if>" /><input type="image" id="sdateCal" onclick="showCal('start_date','8','0','AM');return false;" width="20" height="20" src="${contextPath}/templates/${templateName}/images/date-time_preferences.gif" styleClass="ImgSpace"/>
							</br>
							<span class="gen">
								<input type="checkbox" name="hide_until_open" id="hide_until_open" title="hide_until_open" value="1" <#if topic?exists><#if topic.accessDates.isHideUntilOpen()>checked</#if></#if> />
								&nbsp;${I18n.getMessage("PostForm.HideUntilOpen")}
							</span>
						</td>
					</tr>
					<tr>	
						<td class="row1" align='center'><span class="gen"><b>${I18n.getMessage("PostForm.EndDate")}</b></span></td>
						<td class="row2">
							<input type="text" style="WIDTH: 200px" maxlength="150" size="25" name="end_date" id="end_date" value="<#if topic?exists><#if topic.accessDates?? && topic.accessDates.dueDate??>${DateUtil.getStringFromDate(topic.accessDates.dueDate)}</#if></#if>" /><input type="image" id="edateCal" onclick="showCal('end_date','11','59','PM');return false;" width="20" height="20" src="${contextPath}/templates/${templateName}/images/date-time_preferences.gif" styleClass="ImgSpace"/>
							<#--
							</br>
							<span class="gen">
								<input type="checkbox" name="lock_topic" id="lock_topic" title="lock topic" value="1" <#if topic?exists && topic.accessDates??><#if topic.accessDates.isLocked()>checked</#if></#if>/>
								&nbsp;${I18n.getMessage("PostForm.LockTopic")}
							</span>
							-->
						</td>
					</tr>
					<tr>
						<td class="row1" align='center'><span class="gen"><b>${I18n.getMessage("PostForm.AllowUntil")}</b></span></td>
						<td class="row2">
							<input type="text" style="WIDTH: 200px" maxlength="150" size="25" name="allow_until_date" id="allow_until_date" value="<#if topic?exists><#if topic.accessDates?? && topic.accessDates.allowUntilDate??>${DateUtil.getStringFromDate(topic.accessDates.allowUntilDate)}</#if></#if>" /><input type="image" id="sdateCal" onclick="showCal('allow_until_date','11','59','PM');return false;" width="20" height="20" src="${contextPath}/templates/${templateName}/images/date-time_preferences.gif" styleClass="ImgSpace"/>
						</td>
					</tr>
					<#else>
						<tr>
							<td class="row1"><span class="gen"><b>${I18n.getMessage("PostForm.Dates")}</b></span></td>
							<td class="row2"><span class="gen"><b>${I18n.getMessage("PostForm.DatesSet")}</b></span></td>
						</tr>
					</#if>
				</#if>
				
				<#if canAddEditGrade?default(false)>
				<tr>
					<td class="row1" valign="top" align='center'><span class="gen"><b>${I18n.getMessage("PostForm.GradeTopic")}</b></span></td>
					<td class="row2">
						<table cellspacing="1" cellpadding="3" border="0">
							<tr>
								<td>
									<span class="gen">
									<input type="radio" value="1" name="grade_topic" onclick="toggleGradeOptions(false)" onkeypress="toggleGradeOptions(false)" <#if topic?exists && topic.isGradeTopic()>checked</#if>/>${I18n.getMessage("Yes")}&nbsp;&nbsp;
									<input type="radio" value="0" name="grade_topic" onclick="toggleGradeOptions(true)" onkeypress="toggleGradeOptions(true)" <#if topic?exists><#if !topic.isGradeTopic()>checked</#if><#else>checked</#if>/>${I18n.getMessage("No")}
									</span>											 
								</td>
							</tr>
							<tr>
								<td>
									<span class="gen">&nbsp;&nbsp;${I18n.getMessage("PostForm.TopicGradePointValue")}&nbsp;&nbsp;
									<#setting locale="${I18n.getDefaultLocale()}">
									<input type="text" style="WIDTH: 80px;text-align: right" maxlength="8" size="15" name="point_value" id="point_value" value="<#if topic?? && topic.grade?exists>${topic.grade.points?string("####0.00")}</#if>" <#if topic?? && !topic.grade??>disabled</#if>/>
									</span>
								</td>
							</tr>
							<tr>
								<td>
									<span class="gen">
										<input type="checkbox" name="min_posts_required" id="min_posts_required" value="1" <#if topic?? && topic.grade?? && topic.grade.isMinimumPostsRequired()>checked</#if>>&nbsp;${I18n.getMessage("PostForm.Grading.MinPostsNumber")}&nbsp;&nbsp;
										<input type="text" style="width:40px;text-align:right" maxlength="4" size="10" name="min_posts" id="min_posts" value="<#if topic?? && topic.grade?exists && topic.grade.isMinimumPostsRequired()>${topic.grade.minimumPosts}</#if>" <#if topic?? && !topic.grade??>disabled</#if>/>
									</span>
								</td>
							</tr>
							<#if enableGrading?exists && enableGrading>
								<tr>
									<td>
										<span class="gen">
											<input type="checkbox" name="send_to_grade_book"  id="send_to_grade_book" value="1" <#if forum?exists><#if (forum.gradeType == gradeTopic)><#if (topic?? && topic.grade?exists)><#if (topic.grade.isAddToGradeBook())>checked</#if><#else>disabled</#if><#else>disabled</#if><#else>disabled</#if> />&nbsp;${I18n.getMessage("Grade.sendToGradebook")}
										</span>
									</td>
								</tr>
							</#if>
						</table>
					</td>
				</tr>
				</#if>

				<#if needCaptcha?default(false)>
					<tr>
						<td class="row1" valign="center"><span class="gen"><b>${I18n.getMessage("User.captchaResponse")}:</b></span></td>
						<td class="row2">
							<input class="post" style="WIDTH: 100px; font-weight: bold;" maxlength="25" size="25" name="captcha_anwser" /> 
							<img src="${JForumContext.encodeURL("/captcha/generate")}" border="0" align="middle" alt="captcha answer icon">
						</td>
					</tr>
				</#if>

				<#if error?exists>
					<tr>
						<td class="row1">&nbsp;</td>
						<td class="row2"><span class="gen"><font color="red"><b>${error}</b></font></span></td>
					</tr>
				</#if>
				
				<tr align="center">
					<td height="28" colspan="2" class="catBottom">              
						<#--input class="mainoption" type="submit" value="${I18n.getMessage("PostForm.submit")}" name="post" accesskey="${I18n.getMessage("save-access")}" title="${I18n.getMessage("save-post-access-description")}"/>&nbsp;-->
						<input type="submit" name="post" value="${I18n.getMessage("PostForm.submit")}" style="padding-left:2em;background: #eee url('${contextPath}/templates/${templateName}/images/return_sm.png') .2em no-repeat;" accesskey="${I18n.getMessage("save-access")}" title="${I18n.getMessage("save-post-access-description")}"/>
						<input type="button" name="preview" value="${I18n.getMessage("PostForm.preview")}" style="padding-left:2em;background: #eee url('${contextPath}/templates/${templateName}/images/preview.png') .2em no-repeat;" accesskey="${I18n.getMessage("preview-access")}" title="${I18n.getMessage("preview-access-description")}" onclick="editorContent();previewMessage();"/>&nbsp;
						<#if attachmentsEnabled>
							<#--input class="mainoption" type="button" onClick="openAttachmentPanel();" value="${I18n.getMessage("Attachments.attach")}" name="post" accesskey="${I18n.getMessage("add-access")}" title="${I18n.getMessage("add-attach-access-description")}"/-->
							<input type="button" onClick="openAttachmentPanel();" value="${I18n.getMessage("Attachments.attach")}" name="post" style="padding-left:2em;background: #eee url('${contextPath}/templates/${templateName}/images/attach.png') .2em no-repeat;" accesskey="${I18n.getMessage("add-access")}" title="${I18n.getMessage("add-attach-access-description")}"/>
						</#if>						
					</td>
				</tr>
			</table>
		</td>
	</tr>

	<#if attachmentsEnabled || attachments?exists>
	<input type="hidden" name="edit_attach_ids">
	<input type="hidden" name="delete_attach">
	<input type="hidden" name="total_files" id="total_files">
	<tr>
	<td colspan="2" id="tdAttachPanel" align="center" style="display: <#if attachmentsEnabled>none;<#elseif attachments?exists>'';</#if>">

		<table border="0" cellpadding="3" cellspacing="0" width="70%" class="forumline" id="tblAttachments">
			<tr>
				<td class="catHead" height="28" colspan="3" align="center"><b><span class="cattitle">${I18n.getMessage("Attachments.panel")}</span></b></td>
			</tr>
			<tr>
				<td align="center">
					<span class="gensmall">
					<b>${I18n.getMessage("Attachments.maxToAttach")}:</b> <font color="red">${maxAttachments}</font> 
					<#assign maxSize = maxAttachmentsSize / 1024>
					<#if (maxSize > 1)>
						/ 
						<b>${I18n.getMessage("Attachments.maxSize")}:</b> <font color="red">${maxSize} kb</font>
					</#if>
					</span>
				</td>
			</tr>
			<tr>
				<td align="center">
					<div id="edit_attach"></div>

					<!-- Attachments -->
				   <div id="attach_0"></div>
				   
				</td>
			</tr>
			<#if attachmentsEnabled>
			<tr>
				<td align="center" class="row3"><input type="button" name="add_attach" value="${I18n.getMessage("Attachments.anotherFile")}" onClick="addAttachmentFields()" style="padding-left:2em;background: #eee url('${contextPath}/templates/${templateName}/images/add.png') .2em no-repeat;"></td>
			</tr>
			</#if>
		</table>
	</td>
	</tr>
	</#if>

	<#if ((topic?exists && topic.id > 0) || pmReply?default(false))>
	<tr>
	<td colspan="2">
		<table border="0" cellpadding="3" cellspacing="0" width="100%" class="forumline">
			<tr>
				<td class="catHead" height="28" align="center"><b><span class="cattitle">${I18n.getMessage("PostShow.topicReview")}</span></b></th>
			</tr>
	
			<tr>
				<td class="row1">
					<#if pmReply?default(false)>
						<iframe width="100%" height="300" frameborder="0" src="${JForumContext.encodeURL("/jforum${extension}?module=pm&action=review&id=${pm.id}", "")}" ></iframe>
					<#else>
						<iframe width="100%" height="300" frameborder="0" src="${JForumContext.encodeURL("/posts/review/${start}/${topic.id}")}" ></iframe>
					</#if>
			</tr>
			
		</table>
	</td>
	</tr>
	</#if>
</table>

<script language="javascript">
<#include "js/attachments.js"/>

<#if attachments?exists>
	ignoreStart = true;
	<#if attachmentsEnabled>
		openAttachmentPanel();
	</#if>
	editAttachments();
</#if>
</script>

</form>

<#include "bottom.htm"/>