
.treefolder {
 background-repeat: no-repeat;
 height: 17px;
 width: 26px;
}

.treedoc {
 background-image: url(../images/file.gif);
 background-repeat: no-repeat;
 height: 17px;
 width: 26px;
}

.actionHeader{ 
  overflow: hidden;
  width:100%;
  background:#eec;
  padding:0

 }
.actionHeader h3 h4 h5{ 
  float:left;
  margin:.3em
 }

.actionHeader div{ 
  float:right;
  padding:.3em
}

/*
.navModeQuestion
{background-color:#CCC;text-align:left;padding:.3em;vertical-align:middle font-size:1.2ems}
*/
.navViewAction {
background-color:#CCC;
text-align:left;
padding:.3em;
vertical-align: bottom;
font-size:1.2em
}

.textTable
{vertical-align:top;margin-left:2em}

.number {
  width:23px;
  height:23px;
        FONT-WEIGHT: bold;
        COLOR:#FFFFFF;
        background-image: url(../images/circle.gif);
        vertical-align: middle;
        background-repeat: no-repeat;
        padding-left: 7px;
        padding-right: 2px;
        height: 32px;
        width: 32px;
        float: left;
}


/* moved h#text,alignRight from main.css  */
.h3text {
 font-size: 1.2em;
 font-weight: bold;
}
.h4text {
 font-size: 1.0em;
 font-weight: bold;
}
.h5text {
 font-size: 0.8em;
 font-weight: bold;
}


.navList{
        text-align: right;
}
.navView{
        text-align: left;
}

.validate{
	color:red;
}

.toggle_link_container{
	text-align:right;
}
.toggle_link{
	font-size:85%;
	border-right:1px solid #ddd;
	border-left:1px solid #ddd;
	border-top:1px solid #ddd;		
	margin-bottom:0px;
}

.simple_text_area{
	margin-top:0px;
}
/*
	OVERRIDE NAV CONTROL SAKAI CSS DEFINITIONS FOR NOW.
	They don't handle our situation, with search filters bottom-aligned
	on the left and paging controls on the right.
*/
.samLeftNav  {
	vertical-align:bottom;
    text-align:left;
}
.samRightNav  {
	vertical-align:bottom;
    text-align:right;
}

/* added gopalrc - Jan 2008  */
.detailedStatsCorrectAnswerText {
    font-weight: bold;
}

.new_assessment 
{
	color: #555555;
	font-weight: bold;
}

/* added gopalrc - Jan 2008  */
.detailedStatsCorrectAnswerText {
    font-weight: bold;
}

.prePopulateText 
{
	color:gray;
}

.textBelowHeader {
	padding: .5em 0 0 0;
}

.selectAction {
	width: 10%;
}

.titlePending {
	width: 67%;
}

.titlePub {
	width: 30%;
}

.lastModified {
	width: 23%;
}

.releaseTo {
	width: 11%;
}

.status {
	width: 8%;
}

.inProgress {
	width: 6%;
}

.submitted {
	width: 6%;
}

.releaseDate {
	width: 8%;
}

.dueDate {
	width: 8%;
}

.listAssessments th{
	background-color: #ddd;
	border: 1px solid #999;
}

.makeInfo {
	border: 1px solid #666; 
	background-color: #FFFDD2;
	position: absolute; 
	top: 0px; 
	left: 30px;
	text-indent: 0em;
	margin-top: 0.4em;
	margin-left: -1.2em;
	max-height: 250px; /* if div >= to this max-height value, will override with scrollDescription class b/c IE scrollbar issues */
	white-space: nowrap;
}

.info {
	position: relative;
}

.whiteSpaceNoWrap {
	white-space: nowrap;
}

table.settings {
    border: 1px solid #bbb;
}
 	  	 
.notification {
    color: #555;
    font-size: 110%;
    font-weight: bold;
}

/* Nav ========================================*/

.navIntraTool li, .itemAction li {
        display: inline;
        margin: 0;
        margin-left: -.5em;
        padding: 0 1em;
}

.navIntraTool li span.separator {
    margin-left: 1em;
    margin-right: -1.5em;
}

.itemAction li {
        margin-left: 0;
        padding: 0 .3em;
}

.navIntraTool a, .navIntraTool a:link{
        margin: 0;
        padding: 0;
}

li.last {
        border: 0 none;
}

#samigo-create-container {
	width: 100%;
	overflow: hidden;
	margin-bottom: 20px;
	height: 180px;
}
#samigo-create-new {
	background-color: #F0F0F0;
	float: left;
	width: 40%;
	padding: 12px;
	height: 180px;
}
#samigo-create-new h4 {
	margin: 0 0 8px;
}
#samigo-create-or {
	float: left;
	width: 10%;
	text-align: center;
	vertical-align: middle;
	height: 180px;
	line-height: 140px;
}
#samigo-create-import {
	background-color: #F3F3F3;
	float: left;
	width: 40%;
	padding: 20px;
	height: 180px;
}
#tabs {
	padding: 0;
}
ul.ui-tabs-nav {
	border-bottom: 2px solid #828282;
}
ul.ui-tabs-nav li span.samigo-tab-sub {
	text-decoration: none !important;
	font-weight: normal !important;
	color: #000000;
}
ul.ui-tabs-nav li a {
	text-decoration: none !important;
	color: #0A72AE;
}
ul.ui-tabs-nav li.ui-tabs-selected a {
	color: #000000;
}
#authorIndexForm\:import {
	display: block;
	margin-top: 12px;
}
#authorIndexForm\:createnew {
	margin-top: 12px;
}
tr.list-row-even td, tr.list-row-odd td {
	border-bottom: 1px solid #C6C6C6;
	padding-top: 8px;
}
#assessment-status-limiter {
	margin-bottom: 12px;
}
#tabs #assessment-status-limiter a.active {
	font-weight: bold;
	text-decoration: none !important;
	color: #000000;
}
#tabs, #tabs .ui-widget-content {
	border-width: 0;
	background: none;
}
#tabs .ui-widget-content a {
	color: #0080C0;
	text-decoration: none;
}
#tabs .ui-widget-content a:hover {
	text-decoration: underline;
}

tbody tr td.center{
    text-align: center; /*centers radio buttons beneath column headings in matrix type survey questions */
}

a.hideDivision {
    color: inherit;
    text-decoration: none;
}

.answerkeyFeedbackCommentLabel {
	FONT-WEIGHT: bold;
    COLOR:#860000;
} 

.messageSamigo {
	background: #FFEEEE url(../images/exclamation.png) 5px 4px no-repeat;
	border: 1px solid #b11;
	display: block;
	width: 80%;
	font-size: 1em;
	clear: both;
	color: black;
	margin: 5px 0;
	padding: 1px 5px 1px 25px;
}

.messageSamigo2 {
	background: #FFEEEE url(../images/error.png) 5px 5px no-repeat;
	border: 1px solid #b11;
	display: block;
	width: 80%;
	font-size: 1em;
	clear: both;
	color: black;
	margin: 5px 0;
	padding: 5px 5px 5px 25px;
}

.messageSamigo3 {
	background: #FFEEEE url(../images/exclamation.png) 5px 2px no-repeat;
	border: 1px solid #b11;
	display: block;
	width: 80%;
	font-size: 1em;
	clear: both;
	color: black;
	margin: 5px 0;
	padding: 3px 5px 3px 25px;
}


.previewMessage {
	background: url(../images/info.gif) 5px 5px no-repeat;
	border: 1px solid grey;
	display: block;
	width: 80%;
	font-size: 1em;
	clear: both;
	color: grey;
	margin: 5px 0;
	padding: 5px 5px 5px 25px;
}

.saCharCount {
    border: 1px solid #bbb;
}

.samigo-linear-access-warning {
    background-color: #FAFAD6;
    border: 1px solid #F6D87D;
    margin: 0px 10px 10px 10px;
    padding: 5px;
    border-radius: 5px;
    color: #404040;
    font-family: Arial,Helvetica,sans-serif;
}

.submissionInfoCol1{
    width: 200px; 
}

.submissionInfoCol2{
    width: 650px; 
}




#timer-expired-warning{
	text-align: center;	
}
#squaresWaveG{
position:relative;
width:124px;
height:15px;
margin-left:auto;
margin-right:auto;
}

.squaresWaveG{
position:absolute;
top:0;
background-color:#2E2323;
width:15px;
height:15px;
-moz-animation-name:bounce_squaresWaveG;
-moz-animation-duration:1.9s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-animation-name:bounce_squaresWaveG;
-webkit-animation-duration:1.9s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-animation-name:bounce_squaresWaveG;
-ms-animation-duration:1.9s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-animation-name:bounce_squaresWaveG;
-o-animation-duration:1.9s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
animation-name:bounce_squaresWaveG;
animation-duration:1.9s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#squaresWaveG_1{
left:0;
-moz-animation-delay:0.76s;
-webkit-animation-delay:0.76s;
-ms-animation-delay:0.76s;
-o-animation-delay:0.76s;
animation-delay:0.76s;
}

#squaresWaveG_2{
left:16px;
-moz-animation-delay:0.95s;
-webkit-animation-delay:0.95s;
-ms-animation-delay:0.95s;
-o-animation-delay:0.95s;
animation-delay:0.95s;
}

#squaresWaveG_3{
left:32px;
-moz-animation-delay:1.14s;
-webkit-animation-delay:1.14s;
-ms-animation-delay:1.14s;
-o-animation-delay:1.14s;
animation-delay:1.14s;
}

#squaresWaveG_4{
left:48px;
-moz-animation-delay:1.33s;
-webkit-animation-delay:1.33s;
-ms-animation-delay:1.33s;
-o-animation-delay:1.33s;
animation-delay:1.33s;
}

#squaresWaveG_5{
left:64px;
-moz-animation-delay:1.52s;
-webkit-animation-delay:1.52s;
-ms-animation-delay:1.52s;
-o-animation-delay:1.52s;
animation-delay:1.52s;
}

#squaresWaveG_6{
left:80px;
-moz-animation-delay:1.71s;
-webkit-animation-delay:1.71s;
-ms-animation-delay:1.71s;
-o-animation-delay:1.71s;
animation-delay:1.71s;
}

#squaresWaveG_7{
left:96px;
-moz-animation-delay:1.9s;
-webkit-animation-delay:1.9s;
-ms-animation-delay:1.9s;
-o-animation-delay:1.9s;
animation-delay:1.9s;
}

#squaresWaveG_8{
left:112px;
-moz-animation-delay:2.09s;
-webkit-animation-delay:2.09s;
-ms-animation-delay:2.09s;
-o-animation-delay:2.09s;
animation-delay:2.09s;
}

@-moz-keyframes bounce_squaresWaveG{
0%{
background-color:#2E2323;
}

100%{
background-color:#DBDBDB;
}

}

@-webkit-keyframes bounce_squaresWaveG{
0%{
background-color:#2E2323;
}

100%{
background-color:#DBDBDB;
}

}

@-ms-keyframes bounce_squaresWaveG{
0%{
background-color:#2E2323;
}

100%{
background-color:#DBDBDB;
}

}

@-o-keyframes bounce_squaresWaveG{
0%{
background-color:#2E2323;
}

100%{
background-color:#DBDBDB;
}

}

@keyframes bounce_squaresWaveG{
0%{
background-color:#2E2323;
}

100%{
background-color:#DBDBDB;
}

}

.mcscFixUpSource {
float: left;
}

