<!-- $Id: chef_assignments_student_view_grade.vm 125640 2013-06-11 22:13:24Z ottenhoff@longsight.com $ -->
<!-- start: chef_assignments_student_view_grade.vm  -->
##<!-- $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/assignment/chef_assignments_student_view_grade.vm,v 1.2 2005/05/19 19:39:49 gsilver.umich.edu Exp $ -->
#parse("/vm/assignment/assignment_macros.vm")
<link href="/sakai-assignment-tool/css/assignment.css" type="text/css" rel="stylesheet" media="all" />
<script type="text/javascript" src="/library/js/jquery.js"></script>
<script type="text/javascript"  src="/sakai-assignment-tool/js/assignments.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        setupToggleAreas('toggleAnchor', 'toggledContent', false, 'fast');
    });
</script>
<div class="portletBody">
	#set ($assignment = $submission.Assignment)
	#if ($taggable)
		#if (!$itemHelpers.isEmpty())
		<ul class="navIntraTool actionToolBar">
				#set ($first = true)
				#foreach ($helperInfo in $itemHelpers)
					#if (!$first)
						<li  class="firstToolBarItem">
							<span><a href="#toolLinkParam("$action" "doHelp_item" "itemRef=$validator.escapeUrl($item.reference)&providerId=$validator.escapeUrl($helperInfo.provider.id)")" title="$!helperInfo.description">$!helperInfo.name</a></span>
						</li>	
					#else
						#set ($first = false)
						<li>	
						<span><a href="#toolLinkParam("$action" "doHelp_item" "itemRef=$validator.escapeUrl($item.reference)&providerId=$validator.escapeUrl($helperInfo.provider.id)")" title="$!helperInfo.description">$!helperInfo.name</a></span>
					#end
				#end
			</ul>
		#end
	#end
	<h3>
	$validator.escapeHtml($assignment.getTitle())
			#if ($submission.Returned)
						<span class="highlight"> - $tlang.getString("gen.returned")</span>
			#elseif (!$!nonElectronicType)
				<span class="highlight"> - $tlang.getString("gen.subm4")</span>
			#end
		</h3>

		#if ($alertMessage)<div class="alertMessage">$tlang.getString("gen.alert") $alertMessage</div>#end
		#set($submitTime=false)
		#set($submitTime=$submission.getTimeSubmitted())
		#set($returnTime=false)
		#set($returnTime=$submission.getTimeReturned())
			<table class="itemSummary" summary="$tlang.getString("stuviewgrad.thegradet")">
				<tr>
					<th>
						$tlang.getString("gen.title")
					</th>
					<td valign="top">
						$validator.escapeHtml($assignment.title)
					</td>
				</tr>
				<tr>
					<th>
						$tlang.getString("gen.student")
				 </th>
					<td>
						#if (!$privateView)
							#set ($submitters = $submission.submitters)
							#foreach ($submitter in $submitters)
								$validator.escapeHtml($submitter.DisplayName)<br />
							#end
						#end
					</td>
				</tr>
				#if ($!submissionType != 4)
					## exclude non-electronic type of submission
					<tr>
						<th>
							$tlang.getString("gen.subm5") 
						</th>
						<td>
							## get submit time
							#if($!submitTime)$submitTime.toStringLocalFull()#end<br />
						</td>
					</tr>
				#end
				#if ($withGrade)
					#set ($gradeScale = $assignment.getContent().getTypeOfGradeString($assignment.getContent().getTypeOfGrade()))
					#if ($submission.getGraded() && $submission.getGradeReleased())
						<tr>	
							<th>
								$tlang.getString("gen.gra")
							</th>
							<td class="highlight">
								<strong>
									#if ($assignment.getContent().TypeOfGrade != 1)
										$submission.GradeDisplay
									#else
										$tlang.getString("gen.nograd")
									#end
									#if ($gradeTypeTable.get($assignment.getContent().getTypeOfGrade()) == $!tlang.getString("points"))
										($tlang.getString("grade.max") $assignment.getContent().getMaxGradePointDisplay())
										
										<!--DN 2012-09-26:view grade iRubric -->
										#if($!isShowiRubricLink && $!gradebookItem)
											
											<!--DN 2012-09-24: include file chef_assignments_irubric.vm -->
											#parse ("/vm/assignment/chef_assignments_irubric.vm")
											
								        #end
								        
									#end
								</strong>
							</td>
						</tr>
					#else
						<tr>	
							<th>
								$tlang.getString("gen.grasca")
							</th>
							<td>
								$gradeScale
								#if ($gradeTypeTable.get($assignment.getContent().getTypeOfGrade()) == $!tlang.getString("points"))
									($tlang.getString("grade.max") $assignment.getContent().getMaxGradePointDisplay())
									
									<!--DN 2012-09-26:view grade iRubric -->
									#if($!isShowiRubricLink && $!gradebookItem)
										
										<!--DN 2012-09-24: include file chef_assignments_irubric.vm -->
										#parse ("/vm/assignment/chef_assignments_irubric.vm")
										
							        #end
							        
								#end
							</td>
						</tr>
					#end
				#end
				#if($allowReviewService && $assignment.getContent().AllowReviewService && $assignment.getContent().AllowStudentViewReport)
					<tr>
						<th>
							$tlang.getString("review.report")
						</th>
							<td>
							#if (!$submission)
								$tlang.getString("review.notavail")
							#elseif ($submission.getReviewReport().equals("Error"))
								<div class="alertMessage" >$!submission.getReviewError()</div>
							#else
								<img src="$submission.getReviewIconUrl()" alt="$submission.getReviewScore()">
							
								<a href="$submission.getReviewReport()" target="_blank">$tlang.getString("review.viewreport")</a>
							#end
							</td>
				
					</tr>
				#end
			
			</table>
		#if($assignment.getContent().AllowReviewService && $assignment.getContent().AllowStudentViewReport)
			<div id="report" style='display:none'>$submission.getReviewReport()</div>
		#end
		<h4>
			$tlang.getString("gen.instr")
		</h4>				
							
		#if ($!assignment.getContent().getInstructions().length()>0)
			<div class="textPanel">$validator.escapeHtmlFormattedText($!assignment.getContent().getInstructions())</div>
		#else
		#end
		## assignment attachment
		#set ($attachments = $assignment.getContent().Attachments)
		#set ($size = 0)
		#set ($size = 0)
		#set ($props = false)
		#foreach ($attachment in $attachments) 
			#set ($props = $attachment.Properties) 
			#if ($!props)
				#set ($size = $size + 1)
			#end
		#end
		#if ($size == 0)

		#else
			<h4>
				$tlang.getString("gen.addres2")
			</h4>
			<ul class="attachList indnt1">
				#foreach ($attachment in $attachments) 
					#set ($props = false)
					#set ($props = $attachment.Properties) 
					#if ($!props)
						<li>
							#if ($props.getBooleanProperty($props.NamePropIsCollection))
								<img src = "#imageLink($contentTypeImageService.getContentTypeImage("folder"))" border="0" alt="$tlang.getString("gen.folatt")" />
							#else
								<img src = "#imageLink($contentTypeImageService.getContentTypeImage($props.getProperty($props.NamePropContentType)))" border="0" alt="$tlang.getString("gen.filatt")" />
							#end
							#if ($decoratedUrlMap)
								<a href="$decoratedUrlMap.get($attachment.Url)" target="_blank">$validator.escapeHtml($props.getPropertyFormatted($props.NamePropDisplayName))</a>
							#else
								<a href="$attachment.Url" target="_blank">$validator.escapeHtml($props.getPropertyFormatted($props.NamePropDisplayName))</a>
							#end
							#propertyDetails($props)
						</li>
					#end
				#end
			</ul>
			#end
			## model answer
			#if($allowViewModelAnswer)
			<h4  id="toggleModel" class="toggleAnchor specialLink"><img alt="expand" class="expand" src="/library/image/sakai/expand.gif" /><img alt="collapse" class="collapse" src="/library/image/sakai/collapse.gif" />$tlang.getString('modelAnswer')</h4>
			<div class="model toggledContent">
					<p>$validator.escapeHtml($!assignmentModelAnswerItem.getText())</p>
					#set ($mAttachments = $!assignmentModelAnswerItem.getAttachmentObjectSet())
						<ul class="attachList">
							#set ($size = 0)
							#set ($props = false)
							#foreach ($attachment in $!mAttachments) 
								#set ($props = $attachment.Properties) 
								#if ($!props)
									#set ($size = $size + 1)
								#end
							#end
							#if ($size == 0)
								<p class="instruction">$tlang.getString("gen.noatt")</p>
							#else
								#foreach ($attachment in $mAttachments)
									#set ($props = false)
									#set ($props = $attachment.Properties) 
									#if ($!props)
									<li>
										#if ($props.getBooleanProperty($props.NamePropIsCollection))
											<img src = "#imageLink($contentTypeImageService.getContentTypeImage("folder"))" border="0" alt="$tlang.getString("gen.folatt")" />
										#else
											<img src = "#imageLink($contentTypeImageService.getContentTypeImage($props.getProperty($props.NamePropContentType)))" border="0" alt="$tlang.getString("gen.filatt")" />
										#end
										<a href="$attachment.Url" target="_blank">$validator.escapeHtml($props.getPropertyFormatted($props.NamePropDisplayName))</a>						
										#propertyDetails($props)
									</li>
									#end
							#end
					#end
					</ul>
				</div>
			#end
			#if ($!allowReadAssignmentNoteItem)
				<h4  id="toggleNotes" class="toggleAnchor specialLink"><img alt="expand" class="expand" src="/library/image/sakai/expand.gif" /><img alt="collapse" class="collapse" src="/library/image/sakai/collapse.gif" />$tlang.getString('note.label')</h4>
				<div class="notes toggledContent">
					$validator.escapeHtml($!assignmentNoteItem.getNote())
				</div>
			#end
			##all purpose
			#if ($!allowViewAllPurposeItem)
			<h4  id="toggleAllPurpose" class="toggleAnchor specialLink"><img alt="expand" class="expand" src="/library/image/sakai/expand.gif" /><img alt="collapse" class="collapse" src="/library/image/sakai/collapse.gif" />$tlang.getString('allPurpose')</h4>
			<div class="allPurpose toggledContent">
					<p>$validator.escapeHtml($!assignmentAllPurposeItem.getTitle())</p>
					<p>$validator.escapeHtml($!assignmentAllPurposeItem.getText())</p>
					#set ($aAttachments = $!assignmentAllPurposeItem.getAttachmentObjectSet())
						<ul class="attachList">
							#set ($size = 0)
							#set ($props = false)
							#foreach ($attachment in $!aAttachments) 
								#set ($props = $attachment.Properties) 
								#if ($!props)
									#set ($size = $size + 1)
								#end
							#end
							#if ($size == 0)
								<p class="instruction">$tlang.getString("gen.noatt")</p>
							#else
								#foreach ($attachment in $aAttachments)
									#set ($props = false)
									#set ($props = $attachment.Properties) 
									#if ($!props)
									<li>
										#if ($props.getBooleanProperty($props.NamePropIsCollection))
											<img src = "#imageLink($contentTypeImageService.getContentTypeImage("folder"))" border="0" alt="$tlang.getString("gen.folatt")" />
										#else
											<img src = "#imageLink($contentTypeImageService.getContentTypeImage($props.getProperty($props.NamePropContentType)))" border="0" alt="$tlang.getString("gen.filatt")" />
										#end
										<a href="$attachment.Url" target="_blank">$validator.escapeHtml($props.getPropertyFormatted($props.NamePropDisplayName))</a>						
										#propertyDetails($props)
									</li>
									#end
							#end
					#end
					</ul>
				</div>
			#end
			#if ($taggable)
    	    	#parse ("/vm/assignment/chef_assignments_tags_list.vm")
			#end
			<hr class="itemSeparator" />
			##show instructor feedback if the submission is (1) graded and release or (2) returned
			#if (($submission.Graded && $submission.GradeReleased) || $submission.Returned)
				## show feedback text when submission is released or returned
				#if ($!submission.FeedbackText && ($submission.FeedbackText.length()>0))
					<h5>$tlang.getString("gen.orisub2")</h5>
					<div class="textPanel">$submission.FeedbackFormattedText</div>
				#else
					#set ($text = $submission.getSubmittedText())
					#if ($!text && $text.length() > 0)
						<h4>$tlang.getString("gen.orisub")</h4>
						<div class="textPanel">$submission.getSubmittedText()</div>
					#end
				 #end
			#else
				#set ($text = $submission.getSubmittedText())
				#if ($!text && $text.length() > 0)
					<h4>$tlang.getString("gen.orisub")</h4>
					<div class="textPanel">$submission.getSubmittedText()</div>
				#end
			#end
			#set ($submittedAttachments = $submission.SubmittedAttachments)
			#set ($size = 0)
			#set ($props = false)
			#foreach ($attachment in $submittedAttachments) 
				#set ($props = $attachment.Properties) 
				#if ($!props)
					#set ($size = $size + 1)
				#end
			#end
			#if ($size == 0)
				##$tlang.getString("gen.noatt")
			#else
				<h5>$tlang.getString("gen.stuatt")</h5>
					<ul class="attachList indnt1">
					#foreach ($attachment in $submittedAttachments) 
						#set ($props = false)
						#set ($props = $attachment.Properties) 
						#if ($!props)
							<li>
								#if ($props.getBooleanProperty($props.NamePropIsCollection))
									<img src = "#imageLink($contentTypeImageService.getContentTypeImage("folder"))" border="0" alt="$tlang.getString("gen.folatt")" />
								#else
									<img src = "#imageLink($contentTypeImageService.getContentTypeImage($props.getProperty($props.NamePropContentType)))" border="0" alt="$tlang.getString("gen.filatt")" />
								#end
								#if ($decoratedUrlMap)
									<a href="$decoratedUrlMap.get($attachment.Url)" target="_blank">$validator.escapeHtml($props.getPropertyFormatted($props.NamePropDisplayName))</a>
								#else
									<a href="$attachment.Url" target="_blank">$validator.escapeHtml($props.getPropertyFormatted($props.NamePropDisplayName))</a>
								#end
								#propertyDetails($props)
							</li>
						#end
					#end
				</ul>
			#end	
			##show instructor comment if the submission is (1) graded and release or (2) returned
			#if (($submission.Graded && $submission.GradeReleased) || $submission.Returned)
				## show feedback comment and feedback comment when submission is released or returned
				#if (($!submission.FeedbackComment) && ($submission.FeedbackComment.length()>0))
					<h5>$tlang.getString("gen.addinst")</h5>	
					<div class="textPanel">$validator.escapeHtmlFormattedText($submission.FeedbackComment)</div>
				#end
				#set ($size = 0)
				#set ($props = false)
				#set ($feedbackAttachments = $submission.FeedbackAttachments)
				#set ($size = 0)
				#set ($props = false)
				#foreach ($attachment in $feedbackAttachments) 
					#set ($props = $attachment.Properties) 
					#if ($!props)
						#set ($size = $size + 1)
					#end
				#end
				#if ($size == 0)
				#else
					<h5>$tlang.getString("gen.addinstatts") </h5>
					<ul class="attachList indnt1">
						#foreach ($attachment in $feedbackAttachments) 
							#set ($props = false)
							#set ($props = $attachment.Properties) 
							#if ($!props)
								<li>
									#if ($props.getBooleanProperty($props.NamePropIsCollection))
										<img src = "#imageLink($contentTypeImageService.getContentTypeImage("folder"))" border="0" alt="$tlang.getString("gen.folatt")" />
									#else
										<img src = "#imageLink($contentTypeImageService.getContentTypeImage($props.getProperty($props.NamePropContentType)))" border="0" alt="$tlang.getString("gen.filatt")" />
									#end
									#if ($decoratedUrlMap)
										<a href="$decoratedUrlMap.get($attachment.Url)" target="_blank">$validator.escapeHtml($props.getPropertyFormatted($props.NamePropDisplayName))</a>
									#else
										<a href="$attachment.Url" target="_blank">$validator.escapeHtml($props.getPropertyFormatted($props.NamePropDisplayName))</a>
									#end
									#propertyDetails($props)
								</li>
							#end
						#end
					</ul>
				#end
			#end
		<form action="#toolForm("AssignmentAction")" method="post" >
			<div class="act">
				<input type="submit" accesskey="x" name="eventSubmit_doCancel_view_grade" value="$tlang.getString("gen.backtolist")" accesskey="x" class="active TB_hideControl"/>
			</div>
			<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
		</form>
	</div>
	

							
				
					
	<script type="text/javascript">
		<!--
			function display_item(id) {
				var item = document.getElementById(id);
				if(item.style.display == 'none')
				item.style.display = 'block';
				else
				item.style.display = 'none';
			}
		//-->
	</script>
<!-- end: chef_assignments_student_view_grade.vm  -->
